In [ ]:
import pandas as pd
from pathlib import Path

DATA_PATH = Path("../data", "Wheather")

print(DATA_PATH)

# 1. script_clima_historico.m

In [ ]:
df_meteo = pd.read_csv(DATA_PATH / "ArroyitoDatos2022.csv")
df_meteo

# 2. script_radiacion_2.m

In [ ]:
# Este script genera "Solar radiation 011020 to 310521.csv"
df_radiacion = pd.read_csv(DATA_PATH / "clima octubre y noviembre 2021.csv")
df_radiacion

# script_radiacion_3.m

In [ ]:
df_radiacion = pd.read_excel(DATA_PATH / "PAR 301121 al 170122.xlsx")
df_radiacion

# Supuestas salidas

In [18]:
# Este script genera "Solar radiation 011020 to 310521.csv"
df_wheather = pd.read_csv(DATA_PATH / "salidaPronoticoClimatico_2.csv", sep=";")
df_wheather

,Unnamed: 0,TMIN(C),TMED(C),TMAX(C),RAD(MJ/M2),LLUVIA(mm),T-TD(C),GRANIZO,COND_HELADAS,FECHA
0,0,15.2,18.0,21.6,1.7,8.0,4.3,0.0,0.0,20220422
1,1,13.1,17.5,22.9,12.3,0.0,7.5,0.0,0.0,20220423
2,2,17.2,20.5,24.7,8.4,0.2,6.0,0.0,0.0,20220424
3,3,19.8,21.8,24.4,8.2,0.7,3.1,1.0,0.0,20220425
4,4,19.8,23.6,28.8,8.7,0.2,4.0,1.0,0.0,20220426
...,...,...,...,...,...,...,...,...,...,...
194,194,11.8,15.9,23.4,10.7,1.5,6.2,0.0,0.0,20221102
195,195,13.5,17.5,22.2,9.4,3.8,5.7,0.0,0.0,20221103
196,196,15.1,19.6,25.1,14.6,1.5,7.9,0.0,0.0,20221104
197,197,15.6,21.3,27.4,16.5,0.6,8.7,0.0,0.0,20221105
198,198,16.6,22.7,29.0,15.9,0.0,8.7,0.0,0.0,20221106